upstream api {
        server localhost:8000;
}

server {
        listen 80 default_server;
        listen [::]:80 default_server;
        root /var/www/html;
        index index.html index.htm;
        server_name _;
        location / {
                include proxy_params;
                try_files $uri $uri/ /index.html$is_args$args;
        }

        location /graphql {
                include proxy_params;
                proxy_pass http://api;
        }
}
