upstream api {
        server localhost:8000;
}

server {
        listen 80 default_server;
        listen [::]:80 default_server;
        root /var/www/html;
        index index.html index.htm;
        server_name _;
        location / {
                include proxy_params;
                try_files $uri $uri/ /index.html$is_args$args;
        }

        location /graphql {
                include proxy_params;
                proxy_pass http://api;
        }

}


server {
        root /var/www/html;
        index index.html index.htm;
    server_name www.scubadivedubai.com scubadivedubai.com; # managed by Certbot

        location / {
                include proxy_params;
                try_files $uri $uri/ /index.html$is_args$args;
        }

        location /graphql {
                include proxy_params;
                proxy_pass http://api;
        }



    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/www.scubadivedubai.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/www.scubadivedubai.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


}

server {
    if ($host = scubadivedubai.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = www.scubadivedubai.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


        listen 80 ;
        listen [::]:80 ;
    server_name www.scubadivedubai.com scubadivedubai.com;
    return 404; # managed by Certbot




}

